<section>
  <section v-if="logged">
    <main class="
          d-flex
          flex-xl-row flex-lg-row flex-md-row flex-sm-row flex-column
          justify-content-between
          main
        " v-if="charged">
      <div class="col-md-3 col-sm-3 d-flex flex-row justify-content-center">
        <section class="col-md-2 col-sm-2 col-2"></section>
        <section class="articles-head col-md-8 col-sm-8 col-8">
          <div class="wrapper">
            <br />
            <h2>Imagen del articulo</h2>
            <br />
            <div v-if="article.attributes.image">
              <img class="article-img" :src="url + 'articles/get-image/' + article.id" alt="Article image" />
              <br />
            </div>
            <div v-else>
              <img class="article-img" src="../../../assets/png/default.jpg" alt="Article image" />
            </div>
            <br />
          </div>
        </section>
        <section class="col-md-0 col-sm-0 col-2"></section>
        <br />
      </div>

      <div class="col-md-6 col-sm-6 d-flex flex-row justify-content-center">
        <section class="col-md-2 col-sm-2 col-2"></section>
        <section class="articles-head col-md-8 col-sm-8 col-8">
          <div class="wrapper">
            <br />
            <h3>{{ article.attributes.title }}</h3>
            <br />
            <h4>Contenido del articulo</h4>
            <p>{{ article.attributes.content }}</p>
            <br />
          </div>
          <br />
        </section>
        <section class="col-md-2 col-sm-2 col-2"></section>

        <br />
      </div>
      <div class="
            col-md-3 col-sm-3
            d-flex
            flex-xl-row flex-lg-row flex-md-row flex-sm-row flex-column
            justify-content-center
          ">
        <section class="col-md-2 col-sm-2"></section>
        <section class="col-md-8 col-sm-8">
          <br />
          <h2>Fecha en la que fue realizada el articulo</h2>
          <p>
            {{ article.attributes.created_at | moment("MMMM, dddd, YYYY") }}
            <br />
            Creado por: <router-link :to="'/user/' + article.attributes.user.id">{{ article.attributes.user.name }}
            </router-link>
          </p>
          <br />

          <h4>Acciones a realizar</h4>
          <section class="
                d-flex
                flex-xl-row flex-lg-row flex-md-row flex-sm-row flex-column
                justify-content-center
              ">
            <div class="col-md-6 col-sm-6" v-if="article.attributes.user.id == user.id">
              <button @click="editarArticulo" type="button" class="btn btn-outline-secondary">
                Editar Articulo
              </button>
            </div>
            <br />
            <div class="col-md-6 col-sm-6" v-if="article.attributes.user.id == user.id">
              <button @click="eliminarArticulo" type="button" class="btn btn-outline-danger">
                Eliminar Articulo
              </button>
            </div>
          </section>
          <br />
        </section>
        <section class="col-md-2 col-sm-2"></section>
      </div>
    </main>
  </section>
  <section v-else>
    <main class="
          d-flex
          flex-row
          justify-content-between
          align-items-center
          form
          text-center
        ">
      <div class="col-md-4 col-sm-2 col-2"></div>
      <div class="col-md-4 col-sm-2 col-2">
        <br />
        <h2>
          Vaya... Usted no se encuentra loggeado en este momento, para ingresar
          a este apartado debe estar loggeado...
        </h2>
        <br />
      </div>
      <div class="col-md-4 col-sm-2 col-2"></div>
    </main>
  </section>
</section>