.header {
  background-color: burlywood;
  border-radius: 1rem black;
}

.app-logo {
  width: 60%;
  margin-left: 1rem;
}

.enlace {
  list-style: none;
  margin-top: 1rem;
}

.enlace a {
  text-decoration: none;
  color: cornsilk;
  font-size: 125%;
  transition: 500ms all;

}

.enlace a:hover {
  color: darkcyan;
}

::-webkit-scrollbar {
  width: 8px;
  background: #111;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(255, 255, 255);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background:coral;
  border-radius: 5px;
  transition: 1000ms all;
}

::-webkit-scrollbar-thumb:hover {
  background:cornsilk;
}
::-webkit-scrollbar:hover {
  width: 10px;
}

body {
  background-color: darkslategray;
}

.slider{
  background-color: aliceblue;
  text-align: center;
  border-radius: 0.1rem;
  border-bottom: black 0.1rem solid;
  border-top: black 0.1rem solid;
  font-size: 2.2rem;
}

.main{
  background-color: cornsilk;
  text-align: center;
  font-size: 1.2rem;
  
}

.sidebar{
  text-align: center;
  background-color:rgba(95, 158, 160, 0.781);
  border-radius: 0.5rem;
  margin-right: 1rem;
  font-size: 2rem;
  color: aliceblue;
}

.sidebar-item{
  border-top:black solid .1rem;
  border-bottom:black solid .1rem;
  font-size: 1rem;
  color: black;
}

.sidebar-item button{
  border-radius: .3rem;
  background-color: burlywood;
  margin-bottom: 0.5rem;
}

.button-2{
  margin-top: 0.5rem;
}

.buscador{
  background: none;
  color: black;
  border:0;
  border-bottom:aliceblue solid 0.1rem;
}

.article-img{
  width: 90%;
}

.article{
  text-align: left;
  margin-right: 1rem;
}

.article-content{
  font-size: 1rem;
}

.article-content a{
  text-decoration: none;
}

footer{
  text-align: center;
  color: aliceblue;
  font-size: 1.5rem;
}

.form{
  background-color:darkgray;
}

.formulary{
  font-size: 1.5rem;
  color: aliceblue;
}

.form-miedo{
  background-color: darkseagreen;
}

.button-area button{
  border-radius: .3rem;
  background-color: aliceblue;
  margin-bottom: 0.5rem;
  text-align: center;
  
}

.inputs input{
  background: none;
  border: none;
  border-bottom:aliceblue solid 0.1rem;
  margin-bottom: 1rem;
  
}

.router-link-active{
  border-bottom:aliceblue solid 0.1rem;

}

.error{
  text-align: center;
  background-color: cornsilk;
}

.header img{
  animation: rotate infinite 30s linear;
}

@keyframes rotate{
  from{
    transform: rotate(0deg);
  }to{
    transform: rotate(360deg);
  }
}